{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Título predeterminado{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    {% block additional_head %}{% endblock %}
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container">
                <a class="navbar-brand" href="/">Sistema ERP</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="/">Inicio</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/servicios/">Servicio.</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/inventario/">Inventario. (BETA)</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/boletiar/">Generar boletas. (BETA)</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/crear/">Facturación. (BETA)</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/informes/">Informes. (BETA)</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    {% block content %}


    <!-- Aquí va el contenido específico de esta plantilla -->
{% endblock %}
    <!-- Agrega el script de Bootstrap al final del body para un mejor rendimiento -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    {% block additional_scripts %}{% endblock %}
</body>
</html>
